<form name="loginForm" ng-submit="loginCtrl.login()" novalidate>
  <div class="form-group" ng-class="{'has-error': loginForm.$dirty && !loginCtrl.email}">
    <label>E-mail Address</label>
    <input class="form-control" type="email" ng-model="loginCtrl.email" required>
  </div>
  <div class="form-group" ng-class="{'has-error': loginForm.$dirty && !loginCtrl.password}">
    <label>Password</label>
    <input class="form-control" type="password" ng-model="loginCtrl.password" required>
  </div>
  <button class="btn btn-success btn-block"> Login </button>
  <button class="btn btn-warning btn-block"> Register </button>
  <button class="btn btn-danger btn-block"> Forgot Password </button>
</form>
